@import 'style.css';

header,main {
    font-family: 'Source Sans Pro', sans-serif;
}
.title {
    margin: 10px;
    position: fixed;
    background-color: rgba(44, 6, 31, 0.8);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px) ;
    padding: 5px 10px;
    border-radius: 10px;
    z-index: 1;
}
.title a {
    color: var(--red);
    font-weight: bold;
    font-size: 1.4em;
}
.title a > span {
    color: var(--white);
}
nav {
    position: fixed;
    bottom: 0;
    background-color: rgba(44, 6, 31, 0.8);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px) ;
    text-align: center;
    padding: 10px;
    border-radius: 50px;
    margin: 10px 0;    
    z-index: 1;
}
nav ul {
    display: inline-block;
}
nav ul li{
    display: inline-block;
    margin: 0 10px;
}
nav ul li a {
    color: var(--white);
    font-family: 'Oswald', sans-serif;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    float: none;
    letter-spacing: 1px;
}
li.active a {
    color: var(--red);
    padding-bottom: 5px;
}
article{
    margin: 0 auto;
    color: var(--white);
    padding: 15% 5%;
}
figure > .favorite__img > img {
    width: 300px;
    height: 300px;
    margin: 0 auto;
    display: block;
    margin-bottom: -105px;
}
.favorite > b {
    color: var(--grape);
    text-shadow: .5px 0 var(--white);
}
.story {
    margin: 30% 0;
}
.story > p {
    text-indent: 1.5em;
}
.story h1 {
    margin: 20px 0;
    background-image: linear-gradient(to right,var(--pink),var(--grape));
    padding: 5px;
    text-align: center;
}
.story h3 {
    margin: 10px 0;
}
.story__img > a > img {
    margin: 10px 5px;
    width: 50px;
    border-radius: 999px;
}
.about > .story > p::first-letter {
    font-size: 1.5em;
    font-weight: bold;
}
.certificate {
    margin-bottom: 50px;
}
.certificate > h1 {
    margin: 20px 0;
    background-image: linear-gradient(to right,var(--pink),var(--grape));
    padding: 5px;
    text-align: center;
}
.certificate > h2 {
    font-size: 15pt;
}
.accordion {
   max-width: 800px;
}
.accordion > .contentBx {
    position: relative;
    margin: 10px 20px;
}
.accordion > .contentBx > .label {
    position: relative;
    padding: 10px;
    background-image: linear-gradient(to right,var(--grape),var(--pink));
    color: var(--white);
    cursor: pointer;
}
.accordion > .contentBx > .label::before {
    content: '+';
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    font-size: 1.5em;
    color: var(--white);
}
.accordion > .contentBx.active > .label::before {
   content: '-';
}
.accordion > .contentBx > .content {
    position: relative;
    background: var(--white);
    height: 0;
    overflow: hidden;
    overflow-y: auto;
}
.accordion > .contentBx.active > .content {
    height: 100%;
}
.accordion > .contentBx > .content > div {
    align-items: center;
    justify-content: center;
    background-color: var(--black-50);
    display: flex;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    opacity: 0;
}
.accordion > .contentBx > .content > div > a {
    background-image: linear-gradient(to right,var(--red),var(--grape));
    color: var(--white);
    border-radius: 10px;
    display: inline-block;
    padding: 10px 30px;
}
.accordion > .contentBx > .content > div:hover {
    opacity: 1;
}
.transition-fade {
    opacity: 1;
    transition: 500ms;
    transform: translateX(0);
    transform-origin: left;
}
html.is-animating .transition-fade {
    opacity: 1;
    transform: translateY(100%);
}
html.is-leaving .transition-fade {
    opacity: 0;
    transform: translateX(0);
}
main {
    animation: fade 0.75s;
}
@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@media screen and (max-width:320px){
    nav {
        padding: 8px;
        font-size: 10pt;
    }
}
@media screen and (min-width:375px){

}
@media screen and (min-width:425px){

}
@media screen and (max-width:767px){
    nav {
        width: 100%;
    }
}
@media screen and (min-width:768px){
    main {
        padding: 0 15%;
    }
    nav {
        right: 10%;
        left: 10%;
    }
    .favorite {
        display: grid;
    }
}
@media screen and (min-width:992px){
    nav {
        right: 25%;
        left: 25%;
    }
    nav ul li {
        margin: 0 30px;
    }
    .title {
        padding: 10px 30px;
        font-size: 13pt;
    }
    article{
        margin: 0 auto;
        color: var(--white);
        padding: 5%;
    }
    .favorite {
        display: flex;
    }
    .favorite > b{
            margin: 70px 0;
            font-size: 14pt;
    }
    .story {
        margin: 10% 0;
    }
    .accordion {
        max-width: 500px;
        margin: 0 20%;
    }
}